{% extends '../base/layout.html' %}
{% block css %}
<link href="{{static_url('css/register.css')}}" rel="stylesheet">
{% end %}


{% block body %}
<div class="shadow">
    <div class="register-content ">
        <form action="register" method="post">
            <div id="username" class="item">
                <label><span class="red">*</span> 用户名:</label>
                <input type="text" placeholder="您的账户和登陆名" name="user">
            </div>
            <div class="hidden info" id="info-name"></div>

            <div id="email" class="item">
                <label><span class="red">*</span> 邮箱:</label>
                <input name="email" type="text" placeholder="建议使用常用邮箱">
            </div>
            <div class="hidden info" id="info-email"></div>

            <div id="checknum" class="item">
                <label><span class="red">*</span> 邮箱验证码:</label>
                <input name="email_code" type="text" placeholder="请输入邮箱验证码">
                <a id="fetch-code" href="javascript:void(0)">获取验证码</a>
            </div>
            <div class="hidden info" id="info-checknum"></div>


            <div id="passwd" class="item">
                <label><span class="red">*</span> 登陆密码:</label>
                <input name="password" type="password" placeholder="建议使用两种字符组合">
                <i class="i-passwd"></i>
            </div>
            <div class="hidden info" id="info-passwd"></div>

            <div id="checkpsd" class="item">
                <label><span class="red">*</span> 确认密码:</label>
                <input name="check_password" type="password" placeholder="请再次输入密码">
                <i class="i-checkpsd"></i>
            </div>
            <div class="hidden info" id="info-checkpsd"></div>


            <div class="register">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% end %}


{% block js %}

<script src="{{static_url('js/register.js')}}"></script>

{% end %}

