{% extends '../base/layout.html' %}
{% block css %}
<link href="{{static_url('css/user_info.css')}}" rel="stylesheet">
{% end %}


{% block body %}
<div class="follower" style="margin-top: 20px">
    <span>粉丝{{user_info['followers']}}</span>
    <span>已关注{{user_info['followering']}}</span>
</div>
<div class="user_info">
    <h1>已发布的内容</h1>
    {% for item in user_info['articles'] %}
    <div class="item1">
        <div class="part1">
            <a class="art" href="#">{{item['title']}} </a>
            <p class="content_art">
                {{item['content']}}
            <p>
            <div class="inter">
                <span>posted @</span><a href="" class="time" style="margin-left: 90px">{{item['post_time']}}</a>
                <a href="" class="auth">{{item['auth']}}</a>
                <span>阅读</span>
                <a href="" class="digg-a">{{item['likes']}}</a>
                <span>评论</span>
                <a href="" class="discus-a">{{item['comments']}}</a>
            </div>
        </div>
        <hr style="clear: both">
    </div>
    {% end %}
</div>
{% end %}