{% extends 'layout.html' %}


{% block css %}
<link href="{{static_url('css/article_layout.css')}}" rel="stylesheet" type="text/css">
<link href="../../static/plugins/syntaxhighlighter/styles/shCoreMidnight.css" rel="stylesheet" type="text/css">
{% end %}

{% block body %}
<div class="article" id="article_comment_{{ret[0].nid}}">
    <div class="container">
        <div class="post_header">
            <h1 class="post_title">
                <a class="post_link" href="{{ret[0].url}}">
                    {{ret[0].title}}
                </a>
            </h1>
            <div class="post_meta">
                <span class="post_time">{{ret[0].ctime}}</span>
                <span class="post_category">
                    | 分类于
                    <span>
                        <a class="post_category_name" href="{{ret[1].url}}">
                            <span>{{ret[1].name}}</span>
                        </a>
                    </span>
                </span>
                <span>&nbsp;|&nbsp;共有{{ret[0].pageviews}}人浏览本文</span>
                <span class="post_comments_count">
                     &nbsp;|&nbsp;
                    <a href="javascript:void(0);">{{count_comments}}条评论</a>
                </span>
            </div>
        </div>
        <div class="post_body">
            {% block post_body %}
            {% end %}
        </div>

        <div class="post_comments">

            <div class="comment_list">
                {% raw tree(comment) %}
            </div>
            <div class="comment_box clearfix">
                <textarea id="comment_article_{{ret[0].nid}}"></textarea>
                <a href="javascript:void(0);" onclick="postComment({{ret[0].nid}})">评论</a>
            </textarea>
        </div>
    </div>

</div>
{% end %}

{% block js %}
    <script src="../../static/plugins/syntaxhighlighter/scripts/shCore.js"></script>
    <script src="../../static/plugins/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script>SyntaxHighlighter.all();</script>
    <script>
//        点击回复按钮
        function reply(article_id, comment_id, username) {
            var textarea =  $('#comment_article_' + article_id);
            textarea.val('@'+username+':');
            textarea.attr('target', comment_id);
        }

//        发送评论
        function postComment(article_id) {
            var textarea =  $('#comment_article_' + article_id);
            var temp_content = textarea.val();
            if(temp_content.substring(0,1)=='@' && temp_content.indexOf(':')!=-1){
                var content = temp_content.split(':')[1];
                var reply_id = textarea.attr('target');

            }
            else {
                var reply_id = 'None';
                var content = temp_content;
            }
            console.log(content, reply_id, article_id);
            $.ajax({
                url: '/send_comment',
                type: 'POST',
                data: {
                    article_id: article_id,
                    content:content,
                    reply_id:reply_id
                },
                success:function (comment_tree) {
                    $(".post_comments .comment_list").html(comment_tree);
                    console.log(comment_tree);
                    textarea.val('')
                }
            })
        }
    </script>
{% end %}




