{% extends '../base/layout.html' %}

{% block css %}
<link href="{{static_url('plugins/bxslider/jquery.bxslider.css')}}" rel="stylesheet" type="text/css">
<link href="{{static_url('css/index.css')}}" rel="stylesheet" type="text/css">
{% end %}

<!--Each day wake up and ask yourself what will make you feel most alive that day.-->
<!--“Be who you are and say what you feel, because those who mind don't matter and those who matter don't mind.”-->
<!--“Don't let small minds convince you that your dreams are too big.”-->
<!--“If you spend too much time thinking about a thing, you'll never get it done.”-->
<!--“There is only one person who could ever make you happy, and that person is you.”-->
<!--“Do not fear to be eccentric in opinion, for every opinion now accepted was once eccentric.”-->

{% block body %}
    <div class="top-slider">
        <ul class="bxslider">
            <li><img src="{{static_url('picture/Hk.png')}}"
                     title="“ Each day wake up and ask yourself what will make you feel most alive that day. ”"/></li>
            <li><img src="{{static_url('picture/BIO.png')}}"
                     title="“ Be who you are and say what you feel, because those who mind don't matter and those who matter don't mind. ”"/>
            </li>
            <li><img src="{{static_url('picture/CDK.png')}}"
                     title="“ Don't let small minds convince you that your dreams are too big. ”"/></li>

        </ul>
    </div>

    {% for item in ret %}
    <div class="article">
        <div class="article-container">
            <div class="post_header">
            <h1 class="post_title">
                <a class="post_link" href="{{item[0].url}}">
                     {{item[0].title}}
                </a>
            </h1>
            <div class="post_meta">
                <span class="post_time">发表于{{item[0].ctime}}</span>
                <span class="post_category">
                    | 分类于
                    <span>
                        <a class="post_category_name" href="{{item[2]}}">
                            <span>{{item[1]}}</span>
                        </a>
                    </span>
                </span>
                <!--<span class="post_comments_count">-->
                     <!--&nbsp;|&nbsp;-->
                    <!--<a href="javascript:void(0);">1条评论</a>-->
                <!--</span>-->
            </div>
        </div>
            <div class="post_body">
            <p>
                {{item[0].content}}
            </p>
            <div class="post_more_link">
                <a class="btn" href="{{item[0].url}}">
                    阅读全文 »
                </a>
            </div>
            <div class="post_footer">
                <div class="post_eof"></div>
            </div>
        </div>
        </div>

    </div>
    {% end %}
    <div class="page">
        {% raw str_page%}
    </div>
{% end %}

{% block js %}
<script src="{{static_url('plugins/bxslider/jquery.bxslider.js')}}"></script>
<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            infiniteLoop: true,
            captions: true,
            controls: true,
            autoHover: true,
            auto: true,
        });
    });
</script>
{% end %}