<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--<script  src="../static/plugins/syntaxhighlighter/scripts/shCore.js"></script>-->
<!--<script src="../static/plugins/syntaxhighlighter/scripts/shBrushPython.js"></script>-->
<!--<link href="../static/plugins/syntaxhighlighter/styles/shCoreMidnight.css" rel="stylesheet" type="text/css">-->
<!--</head>-->

<!--<body>-->
<!--<div class="admin">-->
<!--&lt;!&ndash;collapse: true;&ndash;&gt;-->
<!--<h1>    hello</h1>-->
<!--<pre class="brush: python; toolbar: false;">-->
<!--a = 1-->
<!--if a >= 0:-->
<!--print(a)-->
<!--else:-->
<!--print(-a)-->
<!--</pre>-->

<!--<script src="../static/js/jquery-2.1.4.min.js"></script>-->
<!--<script>-->
<!--SyntaxHighlighter.all();-->
<!--</script>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="admin">

</div>
</body>
</html>